.thumbnail-container{
  display: flex;
  flex-wrap: wrap;
  height: 92%;
  justify-content: space-around;
}


.header{
  height: 8%;
}

app-ec332-thumbnail{
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-container{
  min-height: 93vh !important;
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.links-container{
  display: flex;
  flex-direction: column;
}

.mat-drawer-container{
  background-color: #f1f1f1;
}
