.thumbnail-container{
  display: flex;
  flex-wrap: wrap;
  height: 92%;
  justify-content: space-around;
}


.header{
  height: 8%;
}

/* Large screens ----------- */
@media only screen
and (min-width : 991px) {
  app-ec332-thumbnail{
    width: calc(33% - 10px);
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (max-width : 991px)
and (min-width : 480px)  {
  app-ec332-thumbnail{
    width: calc(50% - 10px);
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (max-width : 479px)  {
  app-ec332-thumbnail{
    width: calc(100% - 10px);
  }
}



.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-container{
  min-height: 93vh !important;
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.links-container{
  display: flex;
  flex-direction: column;
}

.mat-drawer-container{
  background-color: #f1f1f1;
}
