<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>EC3-332</mat-card-title>
      <mat-card-subtitle>Sterownik chłodni</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div id="anlgcfContainer" #anlgcfContainer hidden>
      </div>
      <p>
        Adres urządzenia: {{address}}
      </p>
      <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit()">
      <div class="setting-container">
        <p>
          Temperatura zadana:
        </p>
        <mat-form-field class="input-form-field">
          <input matInput formControlName="temperatureSet" type="number" step="0.5">
        </mat-form-field>
      </div>
      <div class="setting-container">
        <p>
          Wentylator:
        </p>
        <mat-slide-toggle class="example-margin" value="primary" formControlName="fan">
      </mat-slide-toggle>
      </div>
      <div class="setting-container">
        <p>
          Chłodzenie:
        </p>
        <mat-slide-toggle class="example-margin" value="primary" formControlName="cooling">
        </mat-slide-toggle>
      </div>
      <div class="setting-container">
        <p>
          Rozmrażanie:
        </p>
        <mat-slide-toggle class="example-margin" value="primary" formControlName="defrosting">
        </mat-slide-toggle>
      </div>
      <div class="setting-container">
        <p>
          Alarm:
        </p>
        <mat-slide-toggle class="example-margin" value="primary" formControlName="alarm">
        </mat-slide-toggle>
      </div>
      </form>
      </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onFormSubmit()"  [disabled]="enableSave">Zapisz</button>
    </mat-card-actions>
  </mat-card>
</div>
